/CMakeLists.txt
/cmake-build-debug/
/0x00-hello_world/CMakeLists.txt
/cmake-build-debug/
/0x06-pointers_arrays_strings/3-main.c
/0x06-pointers_arrays_strings/3-strcmp
/0x06-pointers_arrays_strings/a.out
